@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(172.25deg, rgba(242, 7, 7, 0.8) -9.86%, rgba(0, 0, 0, 0.8) 62.99%);
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  max-width: 1400px;
  padding: 10px 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 0, 0.9);
  font-size: 33px;
}
.header .logo-color {
  color: white;
  vertical-align: sub;
}
.header__layout {
  display: flex;
  align-items: center;
  gap: 55px;
  justify-content: space-between;
}
.header__layout-text {
  color: white;
  font-size: 18px;
}
.header__layout-shortcut {
  color: rgba(255, 255, 0, 0.9);
  font-size: 28px;
  font-weight: 700;
}
.header__layout-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .icon {
  width: 46px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.header #icon-eng {
  background-image: url("assets/flags-us-uk.webp");
}
.header #icon-ru {
  background-image: url("assets/flag-ru.png");
}

main {
  display: flex;
  flex-grow: 1;
}

.footer__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer__copyright {
  cursor: default;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  transition: all .4s ease;
  font-size: type-scale(0);
}
.footer__link:hover {
  color: yellow;
  text-shadow: 0.2rem 0.2rem 0.6rem yellow;
}
.footer__github-span {
  padding-top: 5px;
}
