@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');
$color-yellow: rgba(255, 255, 0, 0.9);
$color-red: rgba(242, 7, 7, 0.8);

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(172.25deg, rgba(242, 7, 7, 0.8) -9.86%, rgba(0, 0, 0, 0.8) 62.99%);
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  max-width: 1400px;
  padding: 10px 15px;
  margin: 0 auto;
}

// ======================================Header==============================

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  &__logo {
    font-family: 'Montserrat', sans-serif;
    color: $color-yellow;
    font-size: 33px;
  }

  .logo-color {
    color: white;
    vertical-align: sub;
  }

  &__layout {
    display: flex;
    align-items: center;
    gap: 55px;
    justify-content: space-between;

    &-text {
      color: white;
    }

    &-shortcut {
      color: $color-yellow;
      font-size: 28px;
      font-weight: 700;
    }

    &-icons {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .icon {
    width: 46px;
    height: 28px;
    cursor: pointer;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;

    &:hover {
      color: $color-yellow;
      border-color: $color-yellow;
    }
  }
}

// ======================================Main==============================

.main {
  display: flex;
  flex-grow: 1;
  transition: all .3s ease;

  .notification {
    text-align: center;
    font-size: 20px;
  }

  &__container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .textarea__box {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }

  .textarea {
    background-color: rgb(43, 43, 43);
    width: 595px;
    height: 295px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 16px 14px 20px #0000008d;
    font-size: 22px;
    outline: solid 5px rgb(43, 43, 43);
    border-radius: 5px;
    padding: 12px;
    resize: none;
    z-index: 5;
    transition: all .1s ease;

    &:focus {
      outline-color: rgba(255, 255, 255, 0.4);
    }
  }

  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // outline: 10px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    background-color: #eeeeee;
    user-select: none;

    .row {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .key {
      width: 60px;
      height: 60px;
      outline: none;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      font-size: 29px;
      font-weight: 700;
      box-shadow: 5px 5px 5px #b8b8b8;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s linear;
      color: black;
      cursor: pointer;
      z-index: 99;

      &:active {
        scale: 0.9;
        background-color: #02f7ff8d;
      }

      &:hover {
        background-color: #02f7ff8d;
      }
      &:focus {
        background-color: #02f7ff8d;
      }
    }
    .upperLetter {
      text-transform: uppercase;
    }

    .key-double {
      font-size: 22px;
      line-height: 2;
    }

    .key-shift {
      width: 120px;
    }

    .key-backspace {
      width: 150px;
    }

    .key-tab {
      width: 90px;
    }

    .key-delete {
      width: 90px;
    }

    .key-caps {
      width: 140px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: rgb(126, 126, 126);
        height: 8px;
        width: 8px;
        border-radius: 50%;
        top: 8px;
        left: 10px;
        z-index: 0;
      }
    }

    .green-active {
      &::after {
        content: "";
        position: absolute;
        background-color: rgb(153, 255, 0);
        height: 8px;
        width: 8px;
        border-radius: 50%;
        top: 8px;
        left: 10px;
        z-index: 5;
      }
    }

    .key-enter {
      width: 140px;
    }

    .key-space {
      width: 480px;

      &:active {
        scale: 0.97;
      }
    }

    .key-alt {
      width: 80px;
    }

    .key-ctrl {
      width: 80px;
    }

    .key-win {
      width: 80px;
    }
  }
}


// ======================================Footer==============================

.footer {
  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  &__copyright {
    cursor: default;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
    transition: all .4s ease;
    font-size: 20px;

    &:hover {
      color: $color-yellow;
    }
  }

  &__github-span {
    padding-top: 5px;
  }
}